<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin View</title>
</head>
<body>
    <main>
        <div class="pt-4 pb-1">
            <h1 class="text-center">Administration Page</h1>
            <br>
        </div>
        <div class="px-3">
            <table class="table table-bordered table-striped " id="booking">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Health & Medical</th>
                    <th>Rest & Relaxation</th>
                    <th>Diet & Nutrition</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking: ${booking}">
                    <td th:text="${booking.fullName}" />
                    <td th:text="${booking.email}" />
                    <td th:text="${booking.contactNo}" />
                    <td th:text="${booking.healthMedicalPackage}" />
                    <td th:text="${booking.restRelaxationPackage}" />
                    <td th:text="${booking.dietNutritionPackage}" />
                    <td th:text="${#dates.format(booking.date, 'dd-MM-yyyy')}"></td>
<!--                    <td th:text="${booking.date}" />-->
                    <td th:text="${booking.time}" />

                    <td>
                        <a th:href="@{admin/update(id=${booking.id})}" ><i class="fa fa-edit" ></i></a>
                        <a th:href="@{admin/delete(id=${booking.id})}" ><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
                </tbody>

            </table>
            <br>
            <form th:action="@{/admin}" method="get">
                <input type="text" name="keyword" th:value="${keyword}"  placeholder="Filter by word" size="50" >
                <button type="submit" class="btn btn-info" >Filter</button>
            </form>
            <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
            </form>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
            <script>
                $(document).ready(function() {
                    $("#booking").DataTable({searching:false, 'aoColumnDefs': [{'bSortable': false,'aTargets': [-1] }]
                    });
                })
		    </script>
        </div>



    </main>

</body>
</html>